{% extends 'base.html' %}
{% load static %}

{% block title%} {{ requested_username }} {%endblock%}

{% block body %}
<h1>{{ requested_username }}</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>内容</th>
        <th>作成日</th>
        <th>ユーザー</th>
        <th>削除</th>
    </tr>
    {% for tweet in user_tweets %}
        <tr>
        <td>{{ tweet.id }}</td>
        <td><a href={% url 'tweets:detail' tweet.pk %}>{{ tweet.content }}</a></td>
        <td>{{ tweet.created_at }}</td>
        <td>{{ tweet.user }}</td>
        <td>
            {% if tweet.user == request.user %}
            <form action="{% url 'tweets:delete' tweet.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">削除</button>
            </form>
            {% endif %}
        </td>
        </tr>
    {% endfor %}
</table>
<h3>フォロワー・フォロイー</h3>
<table border="1">
    <tr>
        <td>フォロワー数</td>
        <td>{{ follower_count }}</td>
        <td>
            <a href="{% url 'accounts:following_list' request.user.username %}"><button>フォロワー一覧</button></a>
        </td>
    </tr>
    <tr>
        <td>フォロイー数</td>
        <td>{{ followee_count }}</td>
        <td>
            <a href="{% url 'accounts:follower_list' request.user.username %}"><button>フォロイー一覧</button></a>
        </td>
    </tr>
</table>
<h3>いいねしたツイート</h3>
<table border="1">
    <tr>
        <th>いいねしたツイート</th>
        <th>いいね取消</th>
    </tr>
    {% for favorited_tweet in favorited_tweets %}
        <tr>
            <td>
                {{ favorited_tweet.content }}
            </td>
            <td>
                <form action="{% url 'tweets:unfavorite' favorited_tweet.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">いいね取消</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
