{% extends 'base.html' %}

{% block title%} プロフィール {%endblock%}

{% block body %}

<h1>Profile</h1>

<table border="1">
    <tr>
        <th>フォロワー名</th>
        <th>プロフィール</th>
    </tr>
    {% for follower in followers %}
        <tr>
            <td>
                {{ follower.username }}
            </td>
            <td>
                <a href={% url 'accounts:profile' follower.username %}><button>プロフィール</button></a>
            </td>
        </tr>
    {% endfor %}
</table>
<table border="1">
    <tr>
        <th>フォロイー名</th>
        <th>プロフィール</th>
    </tr>
    {% for followee in followers %}
        <tr>
            <td>
                {{ followee.username }}
            </td>
            <td>
                <a href={% url 'accounts:profile' followee.username %}><button>プロフィール</button></a>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
