{% extends 'base.html' %}

{% block title%} ツイート {% endblock %}

{% block body %}
    <div>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>内容</th>
                <th>作成日</th>
                <th>削除</th>
            </tr>
            <tr>
                <td>{{tweet.pk}}</td>
                <td>{{tweet.content}}</td>
                <td>{{tweet.created_at}}</td>
                <td><a href={% url 'tweets:delete' tweet.pk %}>削除</a></td>
            </tr>
        </table>
    </div>
{% endblock %}
