{% extends 'base.html' %}
{% load static %}

{% block title %}
HOME
{% endblock title %}

{% block body %}
  <h1>Backend Final Assignment</h1>
    {% if request.user.is_authenticated %}
    <h2>
      {{ request.user.username }}
    </h2>
    <div>
      <a href="{% url 'accounts:signout' %}"><button>SignOut</button></a>
    </div>
    <div>
      <a href="{% url 'tweets:create' %}"><button>Tweet!</button></a>
    </div>
    <div>
      <table border="1">
        <tr>
            <th>ID</th>
            <th>内容</th>
            <th>作成日</th>
            <th>ユーザー</th>
            <th>いいね</th>
            <th>いいね取消</th>
            <th>削除</th>
        </tr>
        {% for tweet in tweets %}
          <tr>
            {% if tweet in favorited_tweets %}
              <span class="event_launcher" onload="set_favorite_button_space_inner_html({{ tweet.id }},true)" style="display:none;"></span>
            {% else %}
              <span class="event_launcher" onload="set_favorite_button_space_inner_html({{ tweet.id }},false)" style="display:none;"></span>
            {% endif %}
            <td>{{ tweet.id }}</td>
            <td><a href={% url 'tweets:detail' tweet.id %}>{{ tweet.content }}</a></td>
            <td>{{ tweet.created_at }}</td>
            <td>{{ tweet.user }}</td>
            <td>
                <input id="favorite_button{{tweet.id}}" value="いいね" type="button" onclick="set_or_unset_favorite_tweet('{% url 'tweets:favorite' tweet.id %}',{{ tweet.id }},true)">
            </td>
            <td>
                <input id="unfavorite_button{{tweet.id}}" value="いいね取消" type="button" onclick="set_or_unset_favorite_tweet('{% url 'tweets:unfavorite' tweet.id %}',{{ tweet.id }},false)">
            </td>
            <td>
              {% if tweet.user == request.user %}
                <form action="{% url 'tweets:delete' tweet.id %}" method="POST">
                  {% csrf_token %}
                  <button type="submit">削除</button>
                </form>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% else %}
    現在ログインしていません
    <div>
      <a href="{% url 'accounts:signup' %}"><button>SignUp</button></a>
      <a href="{% url 'accounts:signin' %}"><button>SignIn</button></a>
    </div>
    {% endif %}
  <script src="{% static 'js/set_or_unset_favorite.js' %}"></script>
{% endblock body %}
