{% extends 'base.html' %}

{% block title %}
HOME
{% endblock title %}

{% block body %}
  <h1>Backend Final Assignment</h1>
  <h2>
    {% if request.user.is_authenticated %}
    {{ request.user.username }}
    <div>
      <a href="{% url 'accounts:signout' %}"><button>SignOut</button></a>
    </div>
    <div>
      <a href="{% url 'tweets:create' %}"><button>Tweet!</button></a>
    </div>
    <div>
      <table border="1">
        <tr>
            <th>ID</th>
            <th>内容</th>
            <th>作成日</th>
            <th>ユーザー</th>
            <th>いいね</th>
            <th>いいね取消</th>
            <th>削除</th>
        </tr>
        {% for tweet in tweets %}
          <tr>
            <td>{{ tweet.id }}</td>
            <td><a href={% url 'tweets:detail' tweet.pk %}>{{ tweet.content }}</a></td>
            <td>{{ tweet.created_at }}</td>
            <td>{{ tweet.user }}</td>
            <td>
              {% if tweet not in favorited_tweets %}
                <button onclick="set_favorite_tweet({% url 'tweets:favorite' tweet.id %})">いいね</button>
              {%endif%}
            </td>
            <td>
              {% if tweet in favorited_tweets %}
                <button onclick="set_favorite_tweet({% url 'tweets:unfavorite' tweet.id %})">いいね取消</button>
              {% endif %}
            </td>
            <td>
              {% if tweet.user == request.user %}
                <form action="{% url 'tweets:delete' tweet.id %}" method="POST">
                  {% csrf_token %}
                  <button type="submit">削除</button>
                </form>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% else %}
    現在ログインしていません
    <div>
      <a href="{% url 'accounts:signup' %}"><button>SignUp</button></a>
      <a href="{% url 'accounts:signin' %}"><button>SignIn</button></a>
    </div>
    {% endif %}
  </h2>
  <script src="set_or_unset_favorite.js"></script>
{% endblock body %}
