{% extends 'base.html' %}

{% block title %}
  WELCOME
{% endblock title %}
{% block body %}
  <h1>Backend Final Assignment</h1>
  <h2>
    {% if request.user.is_authenticated %}
      {{ user.username }}
      <a href="{% url 'accounts:signout' %}"><button>SignOut</button></a>
    {% else %}
      現在ログインしていません
      <a href="{% url 'accounts:signup' %}"><button>SignUp</button></a>
      <a href="{% url 'accounts:signin' %}"><button>SignIn</button></a>
    {% endif %}
  </h2>
{% endblock body %}
