{% extends 'base.html' %}

{% block title %}
  WELCOME
{% endblock title %}
{% block body %}
  <h1>Backend Final Assignment</h1>
  <h2>
    {% if request.user.is_authenticated %}
      {{ user.username }}
      <div>
        <a href="{% url 'accounts:signout' %}"><button>SignOut</button></a>
      </div>
      <div>
        <a href="{% url 'tweets:create' %}"><button>Tweet!</button></a>
      </div>
      <div>
        <table border="1">
          <tr>
              <th>ID</th>
              <th>内容</th>
              <th>作成日</th>
          </tr>
          {% for tweet in tweets %}
            <tr>
              <td>{{ tweet.id }}</td>
              <td><a href={% url 'tweets:detail' tweet.pk %}>{{ tweet.content }}</a></td>
              <td>{{ tweet.created_at }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% else %}
      現在ログインしていません
      <div>
        <a href="{% url 'accounts:signup' %}"><button>SignUp</button></a>
        <a href="{% url 'accounts:signin' %}"><button>SignIn</button></a>
      </div>
    {% endif %}
  </h2>
{% endblock body %}
